@import url('./assets/css/header.css');
@import url('./assets/css/header.css');

:root {
    --cor-de-fundo: #121212; 
    --branco: #FFFFFF;
    --preto: #000000;
    --roxo: #7640c5;

    --fonte-principal: "Montserrat";
    --fonte-secundaria: "Open Sans";
}

body{ 
    background-color: #9a86b7;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}