h1, h2, p {
    color: var (--branco);
}

a,
a:active,
a:link,
a:visited {
    font-size: 1rem;
    text-decoration: none;
    font-size: 1.15rem;
    color: var(--cor-de-fundo);
}

a:hover{
    color: var(--roxo);
    transition: color .2s ease;
}

body{
    padding: 120px
}

.cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 1;
    
}

.container{
    display: flex;
    background-color: var(--branco);
    align-items: center;
    justify-content: space-around;
}

.container__img{
    padding: .1em; 
}

.conainer__imagem{
    margin: 1rem;
    max-width: 15rem;
}

.container__lista{}

.lista-menu{
    display: flex;
    flex-wrap: wrap;
}

.lista-menu__link{
    padding: 1.2rem;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}


#home {
    text-align: center;
    font-size: 30px;
    color: var(--branco);
}

.home{
    display: flex;
    padding: 15rem 25rem;
}

.name {
    font-size: 32px;

}

.name-links {
    color: var(--preto);
    font-size: 40px;
    display: flex;
}

.name-links-1{
    padding: 1rem 2rem;
}

.sobre-mim__descricao-buttons-curriculo{
    display: flex;
}

.sobre-mim__descricao-buttons-curriculo-nuvem{
    margin-right: 2px;
    align-items: center;
}

.sobre-img {
    margin: 1rem;
    max-width: 15rem;
}