/*@import url('./base/reset.css');*/

@import url('../css/components/footer.css');

:root {
    --cor-de-fundo: #EBECEE; 
    --branco: #FFFFFF;
    --azul: #002F52;
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
    --cinza-branco: #F9F9F9;

    --fonte-principal: "";
}

body{ 
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}